<div class="col-3-layout">
 <left-Panel></left-Panel>
 <!-- <div class="layout-app">  -->
   <div id="content">
    <div class="innerAll">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <div class="inner-container">
          <div class="timeline-cover">
            <div class="widget">
              <div class="widget-body padding-none margin-none">
                <div class="innerAll"> <i class="fa fa-quote-left text-muted pull-left fa-fw"></i>
                  <p class="lead margin-none">Change Password</p>
                </div>
              </div>
            </div>
          </div>
          <div class="form-container">{{changeMessage}}
			<form method="" action="">
				<ul>
					<li>
						<span>New Password</span>
						<input type="password" class="form-control bg-gray" data-ng-model="oldPassword" ng-minlength="6" required/>
					</li>
					<li>
						<span>Re-type Password</span>
						<input type="password" class="form-control bg-gray" data-ng-model="newPassword" ng-minlength="6" required/>
					</li>
					<li>
						<button class="btn btn-primary" data-ng-click="changePassword()"><span class="changepass" data-ng-show="changeLoder">Change Password </span><img data-ng-hide="changeLoder" src="app/assets/images/ajax-loader.gif" alt="logout"/></button>
						<button class="btn btn-primary" data-ng-click="go('/profile')">Cancel</button>
					</li>
				</ul>
			</form>
          </div>
        </div>
        </div>
        <div class="col-md-4 col-lg-4">
        	<profile-Right-Panel></profile-Right-Panel>
    	</div>
  </div>
</div>
</div>
</div>