<div class="container-fluid register-sixth-container"> 

  <!--register sixth continent-->
  <div class="broker-sixth-one-step">
    <div class="register-sixth-continent-form-section">
      <!--register left panel-->
      <div class="register-sixth-one-step-section">
      <div class="register-one-step-change-world">Totale economia spostata</div>
        <!--ticker-->
        <div class="titleCouter">
          <div style="margin-left:0px;text-shadow:0 1px 1px #969696" class="blueFont"> TOTALE ECONOMIA SPOSTATA </div>
          <div class="contatore">
          <div style="background-position: 0px -0px; " class="digitCounter"></div>
          <div style="background-position: 0px -0px; " class="digitCounter"></div>
          <div style="background-position: 0px -0px;  margin-right:5px; " class="digitCounter"></div>
          <div style="background-position: 0px -0px; " class="digitCounter"></div>
          <div style="background-position: 0px -75px; " class="digitCounter"></div>
          <div style="background-position: 0px -151px;  margin-right:5px; " class="digitCounter"></div>
          <div style="background-position: 0px -227px; " class="digitCounter"></div>
          <div style="background-position: 0px -303px; " class="digitCounter"></div>
          <div style="background-position: 0px -454px;  margin-right:5px; " class="digitCounter"></div>
          <div class="symbolEuro symbolEuro1"></div>
          <br>
          <br>
          </div>
        </div>
        <!--ticker-->
        
        <div class="register-one-step-change-dei">Esistono innumerevoli variazioni dei passaggi</div>
        
      </div>
      <!--register left panel-->
    <div data-ng-show="isLoading" class="loader-container">
        <img src="app/assets/images/login-loader.gif" alt="loading..." />
    </div>
      <div class="register-sixth-continent-one-step clearfix" data-ng-hide="isLoading">     
        <div class="forgot-sixth-continent">
          <ul>
            <li>Forgot Password</li>
          </ul>
        </div>
      
        <form name="forget-password" method="POST" data-ng-submit="forgotPassword()">
            <div style="text-align: center; color: red;">{{message}}</div>
            <ul class="register-sixth-one-step-field">
                <li>
                <div class="register-sixth-one-step-full">
                <input type="email" placeholder="E-mail Address" data-ng-model="email" required />
                </div>
                </li>
            </ul>

            <div class="register-sixth-one-step-button ">
                <div class="resigter-one-step-button-right">
                <input type="button" name="" value="Cancel" data-ng-click="cancelForgotPassword()"/>
                <input type="submit" name="" value="Submit" />
                </div>
            </div>
        </form>
      </div>  
    </div>  
  </div>
  <!--register sixth continent--> 
  
  <!--footer-->
  <footer-logout></footer-logout>
<!--footer-->
<div ng-include="app/views/footer.html"></div>
</div>
<!-- // Main Container Fluid END --> 