
<!-- Content START -->
	<div id="content" class="container-right-fluid-page">
		<!-- <div class="layout-app/">  -->
		<div class="innerAll">
			<div class="row">
				<div class="col-lg-9 col-md-9">
					<!--album section left -->
					<div class="album-section-left">
						<!--album section left conntainer -->
						<div class="album-section-container-top">
							<div class="album-online">
								<span class="album-status"><img titile="" alt="" src="app/assets/images/album.png"></span> Friend Albums <span class="ng-hide" ng-show="albloader"><img titile="" alt="" src="app/assets/images/ajax-loader.gif"></span>
							</div>
							<ul class="album-action-message">
								<li class="last"><a href="#/viewfriend/{{userId}}">Back to Profile</a></li>
							</ul>
						</div>
						<!--album section left conntainer -->
						<div class="album-option-container" ng-if="friendId == 1">
							<ul class="album-option" ng-if="listAlbum.length">

								<!--album container-->
								<li data-ng-repeat="item in listAlbum">
									<a href="javascript:void(0)">
										<div ng-if="!item.featured_media_path.length" class="album-option-img" ng-click="redirectUrl(item.id, item.album_name, userId)">
										<span style="background-image:url('app/assets/images/album-empty.jpg');"></span>
											<!--<img titile="" alt="" src="app/assets/images/album-empty.jpg">--></div>
										<div ng-if="item.featured_media_path.length" class="album-option-img" ng-click="redirectUrl(item.id, item.album_name, userId)">
											<span style="background-image:url('{{item.featured_media_path}}');"></span>
											<!--<img titile="" alt="" src="{{item.featured_media_path}}" width="158" height="128">--></div>
										<div class="album-option-heading" ng-click="redirectUrl(item.id, item.album_name, userId)">{{item.album_name}}
										</div>

										<div class="album-option-sub" ng-click="redirectUrl(item.id, item.album_name, userId)">{{item.media_in_album}} Photos</div>
									</a>
								</li>
								
								<!--album container-->

							</ul>
							<div ng-if="!listAlbum.length" class="album-option ng-hide" ng-show="noAlbums">
									There are no albums in the list.	
							</div>
						</div>
						<div class="album-option-container" ng-if="friendId == 0 || friendId > 1">
							You have to be friend to see the Album.
						</div>
					</div>
					<!--album section left -->
				</div>
				<div class="col-md-3 col-lg-3">
					<profile-right-panel></profile-right-panel>
				</div>
			</div>
		</div>
	</div>
	<!-- // Content END -->

	<div class="clearfix"></div>
	<!-- // Sidebar menu & content wrapp/er END --> 

	<!-- Footer -->
	<div id="footer" class="hidden-print"> 

		<!--  Copyright Line -->
		<div class="copy">&copy; 2012 - 2014 - <a href="http://www.mosaicpro.biz">MosaicPro</a> - All Rights Reserved. <a href="http://themeforest.net/?ref=mosaicpro" target="_blank">Purchase Social Admin Template</a> - Current version: v2.0.0-rc8 / <a target="_blank" href="app/assets/app/app/CHANGELOG.txt?v=v2.0.0-rc8">changelog</a></div>
		<!--  End Copyright Line --> 

	</div>
	<!-- // Footer END --> 