<div ng-hide="isLoggedIn" class="container-fluid register-sixth-container" data-ng-controller="UserController"> 
	<!--register sixth continent-->
	<div class="register-sixth-continent clearfix">
		<div class="register-sixth-continent-form-section">
			<!--register left panel-->
			<div class="register-sixth-continent-left-section">
				<img src="app/assets/images/login_page_logo.png" title="Sixth Continent" alt="Sixth Continent" />
			</div>
			<!--register left panel-->
			<div class="register-sixth-continent-form">
				<div class="register-sixth-cont"><span>cont</span><h1>Register for sixth continent</h1></div>
				<div class="errormsg reg-param">{{signUpSuccessMsg}}</div>
				<form name="user" data-ng-submit="registration(1)">
					<ul class="register-sixth-form">
						<li>
							<div class="register-sixth-full">
							<input type="email" value="" placeholder="Email" data-ng-model="user.userEmail" title=" Email" required/>
							</div>
						</li>
						<li>
							<div class="register-sixth-full">
							<input type="password" value="" placeholder="Password" data-ng-model="user.userPassword" data-ng-minlength="6" title=" Password" required/>
							</div>
						</li>
						<li>
							<div class="register-sixth-one-half">
							<input type="text" value="" placeholder="First Name" data-ng-model="user.firstName" title=" first name" required/>
							</div>
							<div class="register-sixth-two-half">
							<input type="text" value="" placeholder="Last Name" data-ng-model="user.lastName" title=" last name" required/>
							</div>
						</li>
						<li class="calender-gender">
							<div class="register-sixth-one-half">
								<div class="register-sixth-select-birth">
									<!-- <input type="text" placeholder="Date of Birth" data-ng-model="dob" /> -->
 									<input type="text" placeholder="Date of Birth" class="form-control" datepicker-popup="{{format}}" ng-model="user.dob" id="userdob" is-open="opened" datepicker-opti ons="'dd-mm-yyyy'" ng-required="true" readonly="" />
									<span class="calendar-icon"></span>
								</div>
							</div>
							<div class="register-sixth-two-half">
								<div class="register-sixth-select-gender">
									<select data-ng-model="user.gender">
										<option value="">Gender</option>
										<option value="m">Male</option>
										<option value="f">Female</option>
									</select>
								</div>
							</div>
						</li>
						
						<li>
							<div class="register-sixth-full">
								<div class="register-sixth-select-country">
									<select ng-model="user.country" ng-options="country.country for country in countries"  title="select country" required>
								 <option value="">Country</option>
								</select>
								</div>
							</div>
						</li>
						
						<li>		
							<div class="register-sixth-full register-sixth-register">
								<div style="text-align:center"><img data-ng-hide="showLoading" src="app/assets/images/ajax-loader.gif" ></div>
								<input data-ng-show="showLoading" type="submit" value="Register" title=" Citizen Registration"/>
							</div>
						</li>
						
						<li>
							<div class="register-sixth-one-button" data-ng-show="showLoading">
							<button type="button" title="Store Registration" data-ng-click="go('/register/3')"><span><span>Create Store</span></span></button>
							</div>

							<div class="register-sixth-two-button" data-ng-show="showLoading">
							<button type="button" title="Broker Registration" data-ng-click="go('/register/2')"><span><span>Create Broker Profile</span></span></button>
							</div>
						</li>
						
					</ul>
					
				</form>
			</div>		
		</div>	
	</div>
	<!--register sixth continent-->	
		<!--Our Mission sixth continent-->
	<div class="our-mission-container">
		<div class="our-mission-inner">
			<div class="row">
				<div class="col-md-8 col-lg-8">
					<h3><span>Our Mission</span></h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scramble it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic type setting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMake
including versions of Lorem Ipsum.</p>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing years, sometimes by accident, sometimes on purpose.</p>
				</div>
				<div class="col-md-4 col-lg-4">
					<div class="login-video-container">
					<object width="304" height="304">
					<param name="movie"
					value="https://www.youtube.com/v/mEtzqfIX4kM?hl=en_US&amp;version=3"></param>
					<param name="allowScriptAccess" value="always"></param>
					<embed src="https://www.youtube.com/v/mEtzqfIX4kM?hl=en_US&amp;version=3" type="application/x-shockwave-flash" allowscriptaccess="always" width="304" height="304"></embed>
					</object>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Our Mission sixth continent-->
	<!--Total Economy Shifted sixth continent-->
	<div class="total-economy-container">
		<div class="total-economy-inner">
			<div class="total-counter">
				<div class="titleCouter">
					<div class="blueFont">Total economy shifted</div>
					<div class="contatore">
						<div class="digitCounter" style="background-position: 0px -0px; "></div>
						<div class="digitCounter" style="background-position: 0px -0px; "></div>
						<div class="digitCounter" style="background-position: 0px -0px;  margin-right:5px; "></div>
						<div class="digitCounter" style="background-position: 0px -0px; "></div>
						<div class="digitCounter" style="background-position: 0px -75px; "></div>
						<div class="digitCounter" style="background-position: 0px -151px;  margin-right:5px; "></div>
						<div class="digitCounter" style="background-position: 0px -227px; "></div>
						<div class="digitCounter" style="background-position: 0px -303px; "></div>
						<div class="digitCounter" style="background-position: 0px -454px;  margin-right:5px; "></div>
						<div class="symbolEuro"></div>
						<br>
						<br>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-4">
					<div class="top-citizen-section">
						<div class="citizen-head">Top 50 Linked Citizens</div>
						<ul>
							<li><a href="javascript:void(0)"><img src="app/assets/images/citizen1.jpg"></a></li>
							<li><a href="javascript:void(0)"><img src="app/assets/images/citizen2.jpg"></a></li>
							<li><a href="javascript:void(0)"><img src="app/assets/images/citizen3.jpg"></a></li>
							<li><a href="javascript:void(0)"><img src="app/assets/images/citizen4.jpg"></a></li>
							<li><a href="javascript:void(0)"><img src="app/assets/images/citizen5.jpg"></a></li>
							<li><a href="javascript:void(0)"><img src="app/assets/images/citizen6.jpg"></a></li>
							<li><a href="javascript:void(0)"><img src="app/assets/images/citizen7.jpg"></a></li>
							<li><a href="javascript:void(0)"><img src="app/assets/images/citizen8.jpg"></a></li>
							<li><a href="javascript:void(0)"><img src="app/assets/images/citizen9.jpg"></a></li>   
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-lg-4">
					<div class="top-citizen-section">
						<div class="citizen-head">Top 50 Citizens per Income</div>
						<ul>
							<li><a href="javascript:void(0)"><img src="app/assets/images/citizen1.jpg"></a></li>
							<li><a href="javascript:void(0)"><img src="app/assets/images/citizen2.jpg"></a></li>
							<li><a href="javascript:void(0)"><img src="app/assets/images/citizen3.jpg"></a></li>
							<li><a href="javascript:void(0)"><img src="app/assets/images/citizen4.jpg"></a></li>
							<li><a href="javascript:void(0)"><img src="app/assets/images/citizen5.jpg"></a></li>
							<li><a href="javascript:void(0)"><img src="app/assets/images/citizen6.jpg"></a></li>
							<li><a href="javascript:void(0)"><img src="app/assets/images/citizen7.jpg"></a></li>
							<li><a href="javascript:void(0)"><img src="app/assets/images/citizen8.jpg"></a></li>
							<li><a href="javascript:void(0)"><img src="app/assets/images/citizen9.jpg"></a></li>   
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-lg-4">
					<div class="top-citizen-section">
						<div class="citizen-head">Top 50 Shops per Revenues</div>
						<ul>
							<li><a href="javascript:void(0)"><img src="app/assets/images/citizen1.jpg"></a></li>
							<li><a href="javascript:void(0)"><img src="app/assets/images/citizen2.jpg"></a></li>
							<li><a href="javascript:void(0)"><img src="app/assets/images/citizen3.jpg"></a></li>
							<li><a href="javascript:void(0)"><img src="app/assets/images/citizen4.jpg"></a></li>
							<li><a href="javascript:void(0)"><img src="app/assets/images/citizen5.jpg"></a></li>
							<li><a href="javascript:void(0)"><img src="app/assets/images/citizen6.jpg"></a></li>
							<li><a href="javascript:void(0)"><img src="app/assets/images/citizen7.jpg"></a></li>
							<li><a href="javascript:void(0)"><img src="app/assets/images/citizen8.jpg"></a></li>
							<li><a href="javascript:void(0)"><img src="app/assets/images/citizen9.jpg"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Total Economy Shifted sixth continent-->
	
	<!--footer-->
	<footer-logout></footer-logout>
<!--footer-->
<div ng-include="app/views/footer.html"></div>
</div>