<div class="container-fluid register-sixth-container"> 

  <!--register sixth continent-->
  <div class="broker-sixth-one-step">
    <div class="register-sixth-continent-form-section">
      <!--register left panel-->
      <div class="register-sixth-one-step-section">
      <div class="register-one-step-change-world">Totale economia spostata</div>
        <!--ticker-->
        <div class="titleCouter">
          <div style="margin-left:0px;text-shadow:0 1px 1px #969696" class="blueFont"> TOTALE ECONOMIA SPOSTATA </div>
          <div class="contatore">
          <div style="background-position: 0px -0px; " class="digitCounter"></div>
          <div style="background-position: 0px -0px; " class="digitCounter"></div>
          <div style="background-position: 0px -0px;  margin-right:5px; " class="digitCounter"></div>
          <div style="background-position: 0px -0px; " class="digitCounter"></div>
          <div style="background-position: 0px -75px; " class="digitCounter"></div>
          <div style="background-position: 0px -151px;  margin-right:5px; " class="digitCounter"></div>
          <div style="background-position: 0px -227px; " class="digitCounter"></div>
          <div style="background-position: 0px -303px; " class="digitCounter"></div>
          <div style="background-position: 0px -454px;  margin-right:5px; " class="digitCounter"></div>
          <div class="symbolEuro symbolEuro1"></div>
          <br>
          <br>
          </div>
        </div>
        <!--ticker-->
        
        <div class="register-one-step-change-dei">Esistono innumerevoli variazioni dei passaggi</div>
        
      </div>
      <!--register left panel-->
    <div data-ng-show="isLoading" class="loader-container">
        <img src="app/assets/images/login-loader.gif" alt="loading..." />
    </div>
      <div class="register-sixth-continent-one-step" data-ng-hide="isLoading">     
        <div class="forgot-sixth-continent">
          <ul>
            <li>Reset Password</li>
          </ul>
        </div>
      
        <form data-ng-hide="isLoading" name="reset-password" method="POST"  data-ng-submit="resetPassword()">
            <div style="text-align: center; color: red;">{{message}}</div>
            <ul class="register-sixth-one-step-field">
                <li>
                <div class="register-sixth-one-step-full">
                <input type="text" placeholder="Token" data-ng-model="reset.token" required />
                <input type="password" placeholder="New password" data-ng-model="reset.password" required />
                </div>
                </li>
            </ul>

            <div class="register-sixth-one-step-button">
                <div class="resigter-one-step-button-right">
                <input type="button" name="" value="Cancel" data-ng-click="cancelForgotPassword()"/>
                <input type="submit" name="" value="Submit" />
                
                </div>
            </div>
        </form>
      </div>  
    </div>  
  </div>
  <!--register sixth continent--> 
  
  <!--footer-->
  <div class="register-footer-main">
  <div class="register-footer-width">
    <div class="info register-footer-section">
      <h4>Informazioni</h4>
      <p>
            <strong>S I X T H C O N T I N E N T Limited </strong> &copy; 21 St Thomas Street, Bristol, BS1 6JS,
            United Kingdom.
            VAT 176 3548 80 
            Company N. 7880354
        </p>
    </div>
    <div class="social register-footer-section">
      <h4>Links</h4>
      <nav class="footer">
            <ul>
                <li>
                    <a href="javascript:void(0)">Privacy</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Contatti</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="network register-footer-section">
      <h4>Network</h4>
      <div class="images_footer" style="height:52px;border-right:none"> 
            <img style="height: 50px; margin-right: 5px" src="app/assets/images/cartasi.png">
            <img style="height: 50px;" src="app/assets/images/geotrust_logo.png">
        </div>
    </div>
  </div>
  </div>
<!--footer-->
<div ng-include="app/views/footer.html"></div>
</div>
<!-- // Main Container Fluid END --> 