<!-- Widget -->
<div class="widget gridalicious-item not-responsive profile-post-wrapper" data-ng-repeat="(postIndx, post) in posts" ng-init="showLimitedComment(postIndx)">
	<div class="post-upper-section">
	<div class="post-heading" >
	<div class="media clearfix"> <a ng-href="#/viewfriend/{{post.user_profile.id}}" class="pull-left">
		<img data-ng-if="post.user_profile.profile_image_thumb == ''" src="app/assets/images/dummy60X60.jpg" width="55" height="55" class="media-object">
		<img data-ng-if="post.user_profile.profile_image_thumb != ''" data-ng-src="{{post.user_profile.profile_image_thumb}}" width="55" height="55" class="media-object">
	</a>
	<div class="media-body innerTB half clearfix">
		<ul class="actions-store-dp" data-ng-if = "post.user_profile.id == currentUser.id">
                <li>
                	<a><span class="edit-dele"></span></a>
                		<ul class="actions-drop-action">
                		<li  class="check"> <a href="javascript:void(0);"  data-ng-click="updatePost(postIndx)">Modifica</a> </li>
                		<li> <a href="javascript:void(0);" data-ng-click= "confirmClick() && deletePost(postIndx)" confirm-click>Elimina</a> </li>
                	</ul>
                </li>
            </ul>
		<div class="post-head-title">
		<a ng-href="#/viewfriend/{{post.user_profile.id}}" data-ng-if="post.user_profile.first_name == ''" class="strong">{{post.user_profile.email}}</a> 
		<a ng-href="#/viewfriend/{{post.user_info.id}}" data-ng-if="post.user_profile.first_name != ''" class="strong">{{post.user_profile.first_name}} {{post.user_profile.last_name}}</a> 
		<span><i class="fa fa-star"></i>{{post.store_post_created | date : 'MMMM d, yyyy'}}
		</span> 
	</div>
	</div>
</div>
</div>
<!-- Content -->
<div class="post-desc">
<div class="postedit">
	<p data-ng-hide="activeEdit[postIndx]" ng-bind-html="post.store_post_desc | unsafe"></p>
	<!-- code for update post-->
	<div class="testata-right-section testata-textarea" data-ng-show="activeEdit[postIndx]">
		<form name="edit-post">
			<span class="errorMsg">{{editPostErrorMsg[postIndx]}}</span>
			<textarea rows="12" cols="15" class="editpostbox" placeholder="Scrivi un post" ng-model="updateBody[postIndx]"></textarea>
			<div class="pull-right btn-container" data-ng-hide="{{updatePostInProcess[postIndx]}}">
				<a class="button" href= "javascript:void(0);" data-ng-click="saveUpdatePost(postIndx)"> Finished editing</a>
				<a class="button" href= "javascript:void(0);" data-ng-click="cancelPost(postIndx)">Cancel</a>
			</div>
		</form>
		<div data-ng-show="{{updatePostInProcess[postIndx]}}" style="text-align: center;">
			<img src="app/assets/images/proceed.gif" alt="sending..." />
		</div>
	</div>
		<div ng-switch="post.media_info.length" data-ng-if="post.media_info.length > 0">
			<div class="post-img" ng-switch-when="1">
			<a href="{{post.media_info[0].media_path}}" class="fancybox" style="background-image:url('{{post.media_info[0].media_thumb_path}}');">
			</a> 
			</div>
			<!-- for two image-->
			<div class="post-img" ng-switch-when="2">
			<ul class="post-two-image clearfix">
					<li>
					<a href="{{post.media_info[0].media_path}}" class="fancybox" style="background-image:url('{{post.media_info[0].media_thumb_path}}');">
					</a> 
				</li>
				<li class="post-img-last">
					<a href="{{post.media_info[1].media_path}}" class="fancybox" style="background-image:url('{{post.media_info[1].media_thumb_path}}');">
					</a> 
				</li>
				</ul>
			</div>
			<!-- for three image-->
			<div class="post-img" ng-switch-default>
			<ul class="post-three-image clearfix">
					<li>
					<a href="{{post.media_info[0].media_path}}" class="fancybox" rel="maingallery" style="background-image:url('{{post.media_info[0].media_thumb_path}}');">
					</a> 
				</li>
				<li class="two-img">
					<a href="{{post.media_info[1].media_path}}" class="fancybox three-img-first" rel="maingallery" style="background-image:url('{{post.media_info[1].media_thumb_path}}');">
					</a> 
					<a href="{{post.media_info[2].media_path}}" class="fancybox" rel="maingallery" style="background-image:url('{{post.media_info[2].media_thumb_path}}');">
					</a> 
				</li>
				</ul>
			</div>
			<!-- for four image-->
			<div class="post-img" ng-switch-when="4">
				<ul class="post-four-image clearfix">
			<li>
				<a href="{{post.media_info[0].media_path}}" class="fancybox" style="background-image:url('{{post.media_info[0].media_thumb_path}}');">
			</a> 
		</li>
		<li class="three-img">
			<a href="{{post.media_info[1].media_path}}" class="fancybox first-img" style="background-image:url('{{post.media_info[1].media_thumb_path}}');">
			</a>
			<a href="{{post.media_info[2].media_path}}" class="fancybox second-img" style="background-image:url('{{post.media_info[2].media_thumb_path}}');">
			</a>
			<a href="{{post.media_info[3].media_path}}" class="fancybox third-img" style="background-image:url('{{post.media_info[3].media_thumb_path}}');">
			</a> 
		</li>
		</ul>
			</div>
	<!-- for five image-->
		<div class="post-img" ng-switch-when="5">
			<ul class="post-five-image">
				<li>
				<a href="{{post.media_info[0].media_path}}" class="fancybox" style="background-image:url('{{post.media_info[0].media_thumb_path}}');">
				</a>
			   </li>
			   <li class="four-img">
				<a href="{{post.media_info[1].media_path}}" class="fancybox" style="background-image:url('{{post.media_info[1].media_thumb_path}}');">
				</a>
				<a href="{{post.media_info[2].media_path}}" class="fancybox" style="background-image:url('{{post.media_info[2].media_thumb_path}}');">
				</a>
				<a href="{{post.media_info[3].media_path}}" class="fancybox" style="background-image:url('{{post.media_info[3].media_thumb_path}}');">
				</a>
				<a href="{{post.media_info[4].media_path}}" class="fancybox fourth-img" style="background-image:url('{{post.media_info[4].media_thumb_path}}');">
				</a>
			</li>
			</ul> 
		</div>
		</div>
		<!-- stop post image listing-->
	</div> 
	</div> 
	<!-- Comment -->
	<div class="view-comments clearfix">
		<img src="app/assets/images/comment-icon.png" data-ng-if="comments.length >= 1" data-ng-hide="showComments[postIndx]"><a class="text-primary" href="javascript:void(0);" data-ng-click="showAllComments(postIndx)" data-ng-if="comments[postIndx].length >= 1" data-ng-hide="showComments[postIndx]">View All comments</a>
		<span class="pull-right">{{comments[postIndx].length}} comments</span></div>
	</div>
	<!-- First Comment -->
	<div data-ng-show="commentLoading[postIndx]" style="text-align: center;">
		<img src="app/assets/images/proceed.gif" alt="sending..." />
	</div>
	<div data-ng-hide="commentLoading[postIndx]">
		<div class="media border-bottom margin-none comments-listing" data-ng-show="showComments[postIndx] || (comments[postIndx].length - commentsShowLimit[postIndx] - 1) < indx" data-ng-repeat="(indx, comment) in comments[postIndx] | orderBy:'id'"> 
			<div>
        	<a href="#/viewfriend/{{comment.user_info.id}}" class="pull-left">
			<img data-ng-if="comment.user_info.profile_image_thumb == ''" src="app/assets/images/dummy60X60.jpg" width="38" height="38" class="media-object">
			<img data-ng-if="comment.user_info.profile_image_thumb != ''" data-ng-src="{{comment.user_info.profile_image_thumb}}" width="38" height="38" class="media-object">
		</a>
		<div class="media-body">
			<span class="pull-right" data-ng-if= "comment.user_info.id == currentUser.id">
				<i class="fa fa-fw fa-times" 
				data-ng-click="confirmClick() && deleteComment(postIndx,comment)" confirm-click></i>
				<i class="fa fa-pencil-square-o"  data-ng-click="updateComment(postIndx,comment)"></i>
			</span>
			<a href="#/viewfreinds/{{comment.user_info.id}}" data-ng-if="comment.user_info.first_name == ''">{{comment.user_info.email}}</a> 
			<a href="#/viewfreinds/{{comment.user_info.id}}" data-ng-if="comment.user_info.first_name != ''">{{comment.user_info.first_name}} {{comment.user_info.last_name}}</a>
			<span class="post-date">{{comment.comment_created_at | date : 'mediumDate'}}</span>
			<p>{{comment.comment_text}}</p>
			<ul class="post-comment-munti">
				<li data-ng-repeat="media in comment.comment_media_info">
					<a href="{{media.media_path}}" class="fancybox" style="background-image:url({{media.media_path}});">
					</a>
				</li>
			</ul>
			<!--edit comment start-->
<div class="input-group comment-edit" data-ng-if="activeCommentEdit[postIndx] == comment.id">
	<span class="errorMsg">{{commentErrorMsg[postIndx]}}</span>
<div class="comment-input">
		<input type="text" class="form-control" ng-model="editCommentText[postIndx]"  placeholder="Your comment here...">
		<div class="pull-right btn-container" data-ng-hide="isEditComment[postIndx]"  >
				<a class="button" href= "javascript:void(0);" data-ng-click="editComment(postIndx, comment)"> Finished editing</a>
				<a class="button" href= "javascript:void(0);" data-ng-click="cancelEditComment(postIndx, comment)">Cancel</a>
			</div>
			<div data-ng-show="isEditComment[postIndx]" style="text-align: center;">
                    <img src="app/assets/images/proceed.gif" alt="loading..." />
            </div>
	</div>
	</div>
			<!-- update comment form end -->
			
		</div>
		<div data-ng-if="comment.id == deleteCommentIndx" style="text-align: center;">
			<img src="app/assets/images/proceed.gif" alt="deleting..." />
		</div>
		</div>
	</div>
	<store-comment-form data-ng-if="storeDetail.owner_id == currentUser.id || storeDetail.is_allowed == true" id="commentBoxId-{{postIndx}}" post-id="{{post.post_id}}" post-indx ="{{postIndx}}" load-comment="showLimitedComment(postIndx)"></store-comment-form>
</div>
</div>
<div class="project" data-role="tile" data-ng-show="{{noContent}}">
                    <strong>No results found...</strong>
                </div>
                <div data-ng-show="isLoading" style="text-align: center;">
                    <img src="app/assets/images/proceed.gif" alt="loading..." />
                </div>

