
<div class="container-fluid register-sixth-container"> 

	<!--register sixth continent-->
	<div class="register-sixth-one-step">
		<div class="register-sixth-continent-form-section">
			<!--register left panel-->
			<div class="register-sixth-one-step-section">
			<div class="register-one-step-change-world">Totale economia spostata</div>
				<!--ticker-->
				<div class="titleCouter">
					<div style="margin-left:0px;text-shadow:0 1px 1px #969696" class="blueFont"> TOTALE ECONOMIA SPOSTATA </div>
					<div class="contatore">
					<div style="background-position: 0px -0px; " class="digitCounter"></div>
					<div style="background-position: 0px -0px; " class="digitCounter"></div>
					<div style="background-position: 0px -0px;  margin-right:5px; " class="digitCounter"></div>
					<div style="background-position: 0px -0px; " class="digitCounter"></div>
					<div style="background-position: 0px -75px; " class="digitCounter"></div>
					<div style="background-position: 0px -151px;  margin-right:5px; " class="digitCounter"></div>
					<div style="background-position: 0px -227px; " class="digitCounter"></div>
					<div style="background-position: 0px -303px; " class="digitCounter"></div>
					<div style="background-position: 0px -454px;  margin-right:5px; " class="digitCounter"></div>
					<div class="symbolEuro"></div>
					<br>
					<br>
					</div>
				</div>
				<!--ticker-->
				
				<div class="register-one-step-change-dei">Esistono innumerevoli variazioni dei passaggi</div>
				
			</div>
			<!--register left panel-->
			
			<div class="register-sixth-continent-one-step">
			
				<div class="register-sixth-one-step-num register-sixth-one-step-active">
					<ul>
						<li><span>1</span> <p>This Step is Active</p></li>
						<li class="active-one-step"><span>2</span> <p>This Step is Active</p></li>
					</ul>
				</div>
				{{brokerMsg}}
				<form name="user" data-ng-submit="registerMultiProfile()">
					<ul class="register-sixth-one-step-field">
						<li>
							<div class="register-sixth-one-step-half">
								<input type="text" value="" data-ng-model="user.business_name" placeholder="Business Name" required/>
							</div>
							
							<div class="register-sixth-two-step-half">
								<input type="text" data-ng-model="user.business_type" value="" placeholder="Business Type" required/>
							</div>
						</li>
						
						<li>
							<div class="register-sixth-one-step-half">
								<input type="text" value="" data-ng-model="user.legal_status"placeholder="Legal Status" required/>
							</div>
							
							<div class="register-sixth-two-step-half">
								<input type="number" value="" data-ng-model="user.phone"placeholder="Phone" required/>
							</div>
						</li>
						
						<li>
							<div class="register-sixth-one-step-half">
								<input type="email" value="" data-ng-model="user.email" placeholder="Email" required/>
							</div>
							
							<div class="register-sixth-two-step-half">
								<div class="register-sixth-two-step-select-bussiness">
								<select ng-model="user.country" ng-options="country.country for country in countries" required>
								 <option value="">Business Country</option>
								</select>
								</div>
							</div>
						</li>
						
						<li>
							<div class="register-sixth-one-step-half">
								<input type="text" value="" data-ng-model="user.business_region" placeholder="Business Region" required/>
							</div>
							
							<div class="register-sixth-two-step-half">
								<input type="text" value="" data-ng-model="user.business_city" placeholder="Business City" required/>
							</div>
						</li>
						
						<li>
							<div class="register-sixth-one-step-half">
								<input type="text" value="" data-ng-model="user.business_address" placeholder="Business Address" required/>
							</div>
							
							<div class="register-sixth-two-step-half">
								<input type="number" value="" data-ng-model="user.zip" placeholder="Zip" required/>
							</div>
						</li>
						
						<li>
							<div class="register-sixth-one-step-half">
								<input type="text" value="" data-ng-model="user.province" placeholder="Province" required/>
							</div>
							
							<div class="register-sixth-two-step-half">
								<input type="text" value="" data-ng-model="user.vat_number" placeholder="Vat Number" required/>
							</div>
						</li>
						
						<li>
							<div class="register-sixth-one-step-half">
								<input type="text" data-ng-model="user.iban"value="" placeholder="Iban" required/>
							</div>
							
							<div class="register-sixth-two-step-half">
								<input type="text" value="" data-ng-model="user.description" placeholder="Description" required/>
							</div>
						</li>
						
						<li>
							<div class="register-sixth-one-step-half">
								<input type="text" value="" id="lat" data-ng-model="user.lat" placeholder="Latitutde" required readonly/>
							</div>
							
							<div class="register-sixth-two-step-half">
								<input type="text" value="" id="lon" data-ng-model="user.lon" placeholder="Longitude" required readonly/>
							</div>
						</li>
						<li>

							<input type="text" id="mapplace" data-ng-model="user.place" placeholder="Map Place" style="width:100%" required readonly>
						</li>
					</ul>
					
					<div class="location-map">
					<autocomplete-map></autocomplete-map>
					</div>
					
					<div class="register-sixth-one-step-button">
						<div class="resigter-one-step-button-right">
							<img data-ng-show="brokerloader" src="app/assets/images/ajax-loader.gif" >
							<input data-ng-hide="brokerloader" type="submit"  name="" value="Sumbit" /></div>
					</div>
					
				</form>
			</div>		
		</div>	
	</div>
	<!--register sixth continent-->	
	
	<!--footer-->
	<footer-logout></footer-logout>
<!--footer-->

 <!-- Footer -->
  <div id="footer" class="hidden-print"> 
    
    <!--  Copyright Line -->
    <div class="copy">&copy; 2012 - 2014 - <a href="http://www.mosaicpro.biz">MosaicPro</a> - All Rights Reserved. <a href="http://themeforest.net/?ref=mosaicpro" target="_blank">Purchase Social Admin Template</a> - Current version: v2.0.0-rc8 / <a target="_blank" href="assets/../../CHANGELOG.txt?v=v2.0.0-rc8">changelog</a></div>
    <!--  End Copyright Line --> 
    
  </div>
  <!-- // Footer END --> 
  
</div>