<div class="store-dp-section">
	<div class="store-dp-section-img">
	<div id="invalidCoverImage" style="color:red; display:none;">{{invalidCoverImageMgs}}</div>
	<div ng-show="coverImageUploadStart" class="cover-loader"><img src="app/assets/images/proceed.gif" alt="uploading..." /></div>
	<a ng-if="currentUser.basicProfile.profile_cover_img == ''" href="javascript:void(0)" style="background-image:url('app/assets/images/store-credit.jpg')">
	</a> 
	<a class="fancybox" ng-if="currentUser.basicProfile.profile_cover_img != ''" href="{{currentUser.basicProfile.profile_cover_img.original}}" style="background-image:url({{currentUser.basicProfile.profile_cover_img.thumb}})">
	</a>
	</div>
	<div class="profile-dp-section">
	<div class="profile-cover-dp">
	<div class="profile-cover-cap">
	<label for="file">
		<div class="add-cover-cap"><img src="app/assets/images/camera.png"></div>
		<div class="add-cover-pic" ng-if="currentUser.basicProfile.profile_cover_img == ''">Add Cover Photo</div>
		<div class="add-cover-pic" ng-if="currentUser.basicProfile.profile_cover_img != ''">Change Cover Photo</div>
	</label>
		<input type="file" ng-file-select="onFileSelect($files)" value="Add Cover Photo" />
	</div>
	</div>
	<div class="profile-dp">
		<a class="fancybox" ng-if="currentUser.basicProfile.profile_img == ''" href="javascript:void(0)" style="background-image:url('app/assets/images/profile-dp.jpg')">
		</a> 
		<a class="fancybox" ng-if="currentUser.basicProfile.profile_img != ''" href="{{currentUser.basicProfile.profile_img.original}}" style="background-image:url({{currentUser.basicProfile.profile_img.thumb}})">
		</a>
	</div>
	<h3><a href="#/timeline/{{currentUser.id}}" my-refresh>{{currentUser.basicProfile.firstname}} {{currentUser.basicProfile.lastname}}</a></h3>
		<ul class="store-invitations">
		<!--<li ng-class="{ 'dp-active': timelineActive == 'timeline' }"><a href="#/timeline/{{currentUser.id}}" my-refresh>Timeline</a>
		</li>-->
		<li ng-class="{ 'dp-active': timelineActive == 'about' }">
		<a href="#/about">About</a>
		</li>
		<li ng-class="{ 'dp-active': timelineActive == 'friends' }">
		<a href="#/friends" my-refresh>Friends <span class="invitations-number"> </span></a>
		</li>
		<li ng-class="{ 'dp-active': timelineActive == 'album' }">
		<a href="#/album">Pictures</a>
		</li>
		<li ng-class="{ 'dp-active': timelineActive == 'shope' }">
		<a href="#/shope">Shops</a>
		</li>
		<li ng-class="{ 'dp-active': timelineActive == 'club' }">
		<a href="#/club">Clubs <span class="invitations-number"></span></a>
		</li>
		</ul>
	</div>
</div>